@model List<Product>;

@{
    ViewData["Title"] = "Index";
}
<a asp-action="AddProduct" class="btn btn-success">Add Product</a>
<partial name="Notification"></partial>
<br />
<br />
<form method="post">
<select name="order">
    <option >Low To High</option>
    <option>High To Low</option>
    <option>All</option>
</select>
    &nbsp;
    <input type="submit" class="btn btn-info" value="Filter"/>
</form>
@* <div class="d-flex"> *@
<section style="background-color: #eee;">
    <div class="container py-5">
    @foreach (var d in Model)
    {
       @*  <div class="card" style="width: 18rem;">
            <img class="card-img-top" width="200" height="200" src="@d.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@d.Name</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category : @d.Category</li>
                <li class="list-group-item">@d.Description</li>
                <li class="list-group-item">Price : @d.Price</li>
            </ul>
            <div class="card-body">
                <a href="#" class="btn btn-info">Add To Cart</a>
            </div>
        </div> *@
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img height="150px" width="200px" src="@d.Image"
                                         class="w-100" />
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>@d.Name</h5>
                                <div class="d-flex flex-row">
                                    <div class="text-danger mb-1 me-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>310</span>
                                </div>
                                <div class="mt-1 mb-0 text-muted small">
                                    <span>100% cotton</span>
                                    <span class="text-primary"> • </span>
                                    <span>Light weight</span>
                                    <span class="text-primary"> • </span>
                                    <span>Best finish<br /></span>
                                </div>
                                <div class="mb-2 text-muted small">
                                    <span>Unique design</span>
                                    <span class="text-primary"> • </span>
                                    <span>For men</span>
                                    <span class="text-primary"> • </span>
                                    <span>Casual<br /></span>
                                </div>
                                <p class="text-truncate mb-4 mb-md-0">
                                  @d.Description
                                </p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1">&#8377; @d.Price</h4>
                                    <span class="text-danger"><s>1000</s></span>
                                </div>
                                <h6 class="text-success">Free shipping</h6>
                                <div class="d-flex flex-column mt-4">
                                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm" type="button">Details</button>
                                    <a data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-sm mt-2" asp-controller="Product" asp-action="AddToCart" asp-route-id="@d.Id">
                                        Add to Cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</section>
